body {
    background-image: url('the\ realbackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

p {
    color: black;
}

img {
    border-radius: 50%;
}